
body{

  font-family: 'Questrial', sans-serif;

}


.dropdown:hover>.dropdown-menu{
  display: block;
  margin-top: 0;
}


.event{
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

nav{
  background: rgba(14, 48, 214, 1) !important;
  box-shadow: 0 5px 10px black;
}

/* .nav-item{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  margin : 0 5px;
} */

header, footer{
  background: #05114b !important;
}
